p {
  color: red;
}

* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

div {
  color: red;
}

div[class="purpled"] {
  color: purple;
}

.taskbar {
  background-color: cyan;
  margin: 0;
  padding: 0;
}

.taskbarLinks {
  display: inline-block;
  padding: 8px;
}

.taskbarLinks:hover {
  background-color: gold;
}

.active {
  background-color: white;
}

a {
  display: block;
  text-decoration: none;
}

a[id="exception"] {
  display: inline;
}

#exception:link {
  color: green;
}

#exception:visited {
  color: cyan;
}

h1 {
  color: orchid;
}

h2 {
  color: darkgreen;
}

h3 {
  color: gold;
}

h4 {
  color: mediumturquoise;
}

li {
  color: purple;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

table {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

thead {
  color: sienna;
}

td {
  color: navy;
}

tfoot td {
  color: orange;
}

ol > li {
  font-weight: 1000;
}

ul#golden > li {
  color: gold;
}

#borderedImage {
  border: blue 3px solid;
}

#roundedImage {
  border: blue 3px dotted;
  border-radius: 7px;
}

#interesting {
  font-variant: small-caps;
}

li[class] {
  font-size: 20px;
}

a[href="mailto:info@example.com"] {
  font-style: oblique;
}

img {
  height: 350px;
  width: 550px;
}

.longer {
  width: 800px;
}

body {
  background-color: BurlyWood;
}

table, th, td {
  border: black 2px dotted;
}

table {
  border-collapse: collapse;
}

thead {
  background-color: cyan;
}

tbody {
  background-color: gold;
}

tfoot {
  background-color: navy;
}
