p {
  color: red;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.taskbar {
  background-color: cyan;
  margin: 0;
  padding: 0;
}

.taskbarLinks {
  display: inline-block;
  padding: 8px;
}

.taskbarLinks:hover {
  background-color: gold;
}

.active {
  background-color: white;
}

a {
  display: block;
  text-decoration: none;
}

.headers {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  color: orchid;
}

h2 {
  color: darkgreen;
}

h3 {
  color: gold;
}

h4 {
  color: mediumturquoise;
}

li {
  color: purple;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

table {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

thead {
  color: sienna;
}

tbody {
  color: navy;
}

tfoot {
  color: orange;
}
